
.task {
  .additional-panel {
    margin-bottom: 14px;
    margin-top: -4px;
  }

  .fields {
    margin-bottom: 9px;
  }

  .field {
    height: 24px;
    margin: 2px 0;
    display: flex;

    span {
      padding-top: 2px;
      font-weight: 700;
      margin-right: 5px;
    }

    input, select {
      height: 24px;
      border: none;
      background: none;
      outline: none;
    }

    input {
      width: 100%;
      line-height: 14px;
      padding: 3px 0;
    }

    input[type=datetime-local] {
      width: 190px;
      font-size: 13px;
      font-family: inherit;
      border-radius: 0;
      color: black;
      transition: none;
      cursor: pointer;
    }

    select {
      padding: 0 2px 2px;
      cursor: pointer;
    }

    input:focus, input.changing {
      box-shadow: rgb(0 0 0 / 20%) 0 0 0 1px;
      background: ghostwhite;
    }

    input.changing {
      background: var(--changing-color);
    }
  }

  .additional-panel-buttons {
    display: flex;
    row-gap: 5px;
    flex-wrap: wrap;

    .created-at {
      margin-left: auto;
      line-height: 18px;
      margin-right: 8px;
      margin-top: 10px;
    }
  }
}