
.history-action-list {
  .column.clickable {
    cursor: pointer;
  }

  .column.clickable:hover {
    background: lightyellow;
  }

  .column {
    padding: 0;
    border-bottom: none;

    .column-content {
      margin: 8px 12px;
      word-break: break-word;
      width: inherit;
    }
  }

  .column.merged-column {
    border-top: none;
  }

  .column.time-column {
    width: 36px;

    .column-content {
      text-align: center;
    }
  }
}
