
.history-action-list {
  .column.clickable {
    cursor: pointer;
  }

  .column.clickable:hover {
    background: lightyellow;
  }

  .column {
    padding-left: 12px;
    padding-right: 12px;
    border-bottom: none;

    .column-content {
      width: inherit;
    }
  }

  .column.merged-column {
    border-top: none;
  }

  .column.time-column {
    width: 36px;

    .column-content {
      text-align: center;
    }
  }

  .column.task-column {
    width: 280px;

    .column-content {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  @media screen and (max-width: 1200px) {
    .task-column {
      width: 200px;
    }
  }

  @media screen and (max-width: 992px) {
    .task-column {
      width: 120px;
    }
  }
}
