{% extends 'base.html.twig' %}

{% block body %}
<div class="container pt-3 full-height">
    <div id="root"></div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('app') }}
{% endblock %}