{% extends 'base.html.twig' %}

{% block body %}
<div id="root"></div>
{#<div class="container pt-4">#}
{#    {% include'_navbar.html.twig' %}#}
{#    <div class="pt-4">#}
{#        {% block content %}#}
{#        {% endblock %}#}
{#    </div>#}
{#</div>#}
{% endblock %}
