{% extends 'base.html.twig' %}

{% block body %}
<div class="container pt-4">
    <ul class="nav nav-tabs">
        {% for link in global_service.generateHeaderLinks %}
            <li class="nav-item">
                {% set isActive = app.request.attributes.get('_route') == link.route %}
                <a class="nav-link {{ isActive ? 'active' : '' }}" href="{{ url(link.route) }}">
                    {{ link.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="pt-4">
    {% block content %}
    {% endblock %}
    </div>
</div>
{% endblock %}
