.navbar {
  .nav-tabs {
    .root-panel {
      display: flex;
      margin-right: 8px;
    }

    .root-title {
      margin-right: 18px;
      margin-top: 8px;
      font-size: 15px;
      max-width: 400px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
