
.panel-heading {
  display: flex;
  flex-wrap: wrap;
  padding: 7px 15px;
  justify-content: flex-end;
  row-gap: 6px;
  font-size: 15.5px;

  i.glyphicon {
    margin-right: 8px;
    position: relative;
    top: 2px;
  }

  .panel-title {
    height: 24px;
    line-height: 26px;
    margin-right: auto;
    padding-right: 10px;
  }

  .btn {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    padding: 1px 0 0 0;
  }
}
