{% extends 'page.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block content %}
    {% include'_breadcrumbs.html.twig' %}

    <h1>Edit Task</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Update</button>
    {{ form_end(form) }}
{% endblock %}
