.task {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 0 14px 1px;
  background: rgba(1,1,1,0.03);
  margin-bottom: 14px;
  border: 1px solid #ccc;
  width: 100%;
  min-height: 40px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  position: relative;

  .btn {
    margin-right: 5px;
  }
}
