.task {
  border-radius: 6px;
  box-shadow: inset 0 0 9px -6px #000;
  padding: 0 14px 1px;
  background: rgba(1,1,1,.03);
  margin-bottom: 1rem;
  border: 1px solid #888;
  position: relative;
  font-size:  0.85rem;

  .btn {
    font-size: .81rem;
    margin-right: 5px;
  }

  .btn:last-child {
    margin-right: 0;
  }

  .title {
    margin: 10px 0;
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
  }
}
