
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: #303641
}
.navbar-custom {
  border: none;
  border-radius: 0;
  background-color: #303641;
  width: 100%;
  font-size: 13px;
  margin-bottom: 10px;
  min-width: 370px;
}
.navbar-custom .navbar-nav {
  margin-left: 0;
  margin-right: 0;
}
.navbar-custom .nav li a {
  display: block;
  color: #aaabae;
  font-size: 13px
}
.dropdown-menu .active a, .dropdown-menu .active a:focus, .dropdown-menu .active a:hover, .dropdown-menu li a:focus, .dropdown-menu li a:hover {
  background-color: #2B303A;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:hover {
  color: #fff;
  background-color: #2B303A;
}
.navbar-custom .nav li a:active, .navbar-custom .nav li a.current {
  border-bottom: 0 solid #303641;
}
.navbar-custom .navbar-toggle {
  position: relative;
  background-color: #2B303A;
  border-color: #2B303A;
}
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
  background-color: #2B303A;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: rgba(255, 255, 255, .9);
}
.navbar-custom .navbar-brand {
  color: #FFF;
  padding-left: 25px;
  opacity: .7;
  filter: alpha(opacity=70);
  transition: opacity .4s ease-in-out;
}
.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:active {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-default .navbar-collapse {
  border-color: #e7e7e7;
}
@media (max-width: 992px) {
  .navbar-custom .navbar-brand {
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .navbar-custom {
    position: relative;
    top: 0;
  }
  .navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 15px;
  }
  .navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #303641;
  }
}
