:root {
  --changing-color: #ffffe0;
  --active-sidebar-link-color:  #E6E9ED;
}
body {
  position: relative;
  /* For scrollyspy */
  //font-family: 'Lato', sans-serif !important;
  //font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  //font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 13.6px;
  background-color: #f1f2f6;
  width: calc(100vw);
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  /*font-family: 'Lato', sans-serif !important;*/
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
.form-control:focus {
  border-color: #3BAFDA;
}
.form-control, .form-control:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* ----------------------------------
 * buttons
 * ---------------------------------- */

.btn {
  box-shadow: none !important;
  outline: none !important;
}
.btn, button:focus, textarea:focus {
  outline: none !important;
}
.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-secondary:hover, .btn-secondary:focus {
  color: #fff;
  background-color: #64686b;
  border-color: #64686b;
}
.btn-info {
  background-color: #28a0c4;
  border-color: #2198b7;
}
.btn-info:hover {
  background-color: #178bad;
  border-color: #127d9a;
}
.btn-to-link {
  background: none!important;
  border: none;
  padding: 0!important;
}

/* ----------------------------------
 * icons
 * ---------------------------------- */

.oi, .oi::before {
  font-size: 12px;
}
@font-face {
  font-family: "angularicons";
  src: url("../../../public/fonts/angularicons.eot");
  src: url("../../../public/fonts/angularicons.eot?#iefix") format("embedded-opentype"), url("../../../public/fonts/angularicons.woff") format("woff"), url("../../../public/fonts/angularicons.ttf") format("truetype"), url("../../../public/fonts/angularicons.svg") format("svg");
}
.icon {
  display: inline-block;
  font-family: "angularicons", serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon[data-icon]:before {
  content: attr(data-icon);
  speak: none;
}

/* ----------------------------------
 * container
 * ---------------------------------- */

.container.login, .container.register {
  width: 460px;
  margin-top: 120px;
  padding: 15px 40px 35px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 30px -20px rgb(0 0 0 / 50%);

  h1 {
    margin-bottom: 20px;
  }
  .buttons {
    margin-top: 20px;
  }
}

.container-fluid {
  max-width: 1400px;
  min-width: 400px;
  padding-left: 5px;
  padding-right: 5px;
}

.main-container {
  overflow: hidden;
  min-height: calc(100vh - 60px);
}

/* ----------------------------------
 * content-row
 * ---------------------------------- */

.content-row {
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px
}
.content-row .row {
  margin-bottom: 20px
}
.content-row .content-row-title {
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: 700;
  font-size: 18px;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 1);
}
.content-row .content-row-title span {
  font-weight: normal;
  font-size: 14px;
  color: #ED5565;
}
.content-row-dropdown h2 + .dropdown-menu, .content-row-popover .popover, .content-row-modal .modal {
  position: static;
  display: block;
}
.content-row-dropdown h2 + .dropdown-menu {
  float: none;
  width: 200px;
}
.content-row-popover .popover {
  position: relative;
}
@media (max-width: 960px) {
  .tooltip-demo[class*="col-"] {
    text-align: center;
  }
  .tooltip-demo[class*="col-"] .btn-block {
    display: inline-block;
    margin: 0 auto;
    width: 160px;
  }
}
.content-row-popover[class*="col-"]:nth-of-type(1) .popover {
  margin-top: 0;
}
.content-row-popover[class*="col-"]:nth-of-type(3) .popover, .content-row-popover[class*="col-"]:nth-of-type(4) .popover {
  margin-top: 40px;
}
.content-row-progress[class*="col-"]:last-child .progress {
  margin-bottom: 10px;
}
.content-row-pagination .pagination, .content-row-pagination .pager {
  margin: 0 !important;
}
.content-row-modal .modal {
  overflow: hidden;
}
@media (min-width: 768px) {
  .content-row-modal .modal-dialog {
    width: 545px;
    margin: 5px;
  }
}
.content-row-typography {
  position: relative;
  padding-left: 25%;
  margin-bottom: 40px;
}
.content-row-typography .heading-note, .content-row-typography .text-note {
  display: block;
  width: 260px;
  position: absolute;
  bottom: 2px;
  left: 0;
  font-size: 13px;
  line-height: 13px;
  color: #AAB2BD;
  font-weight: 400;
}
.content-row-typography .text-note {
  bottom: auto;
  top: 10px;
}
.content-row[class*="col-"] {
  margin-bottom: 10px;
}

/* ----------------------------------
 * btn-group & labels
 * ---------------------------------- */

.blank {
  display: none;
}
@media (max-width: 768px) {
  .blank {
    display: block;
    height: 15px;
  }
}
.list-group-item:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.list-group-item:first-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.list-group-item > .glyphicon-chevron-right {
  float: right
}
.list-group-item a, .list-group-item span {
  display: block;
  color: #434a54;
  padding: 10px 18px;
  text-decoration: none;
}
.list-group-item span {
  padding-left: 20px;
  padding-right: 0;
}
.list-group-item a:hover {
  background-color: var(--active-sidebar-link-color);
}
.list-group-item {
  padding: 0;
  margin-left: 1px;
}
.list-group-item.list-group-item-search {
  padding: 10px 15px;
}
.list-group-item.active {
  background-color: #59ABE3;
  border-color: #59ABE3;
}
.list-group-item.active a {
  background-color: transparent;
  color: #fff;
}

/* ----------------------------------
 * dropdown-menu
 * ---------------------------------- */

.dropdown-menu {
  border: none;
  background-color: #434A54;
  padding: 8px 0;
}
.dropdown-menu .dropdown-header {
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 700;
  color: #AAB2BD;
}
.dropdown-menu li a {
  padding: 5px 20px;
  color: #FFF;
}
.dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu .active a, .dropdown-menu .active a:hover, .dropdown-menu .active a:focus {
  color: #FFF;
  background-color: #656D78;
  outline: none;
}
.dropdown-menu .disabled a, .dropdown-menu .disabled a:hover, .dropdown-menu .disabled a:focus {
  color: #656D78;
  cursor: default;
}
.dropdown-menu .divider {
  background-color: #656D78;
  border-bottom: none;
}
.dropup .dropdown-menu {
  margin-bottom: 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
