.btn-custom{
  padding: .25rem .5rem;
  font-size: .81rem;
  line-height: 1.5;
  border-radius: .2rem;
  height: 30px;
}

.btn-danger {
  background-color: #f67e7d;
  border-color: #f67e7d;
}

.navbar {
  padding: 0;
  margin-bottom: 1rem;

  .nav-tabs {
    border: none;

    .nav-item {
      border: 1px solid #dee2e6;
      border-radius: 4px;
      margin-right: 8px;
      margin-bottom: 0;
      font-size: .81rem;
    }

    .nav-item:last-child {
      margin-right: 0;
    }

    .nav-item-tasks {
      background: antiquewhite !important;
    }

    .nav-item.show .nav-link, .nav-link.active {
      background: transparent;
      color: black;
    }

    .nav-item-todo {
      background: lightblue
    }

    .nav-item-reminders {
      background: lightpink
    }

    .nav-item-progress {
      background-color: #ffc107;
    }

    .nav-item-new-task {
      background-color: #6c757d;
      button, button:hover, button:focus {
        background: transparent;
        outline: none;
        color: white;
      }
    }

    .nav-link:focus, .nav-link {
      border: none;
      //padding: 6px 10px;
      padding: .3rem .7rem;
      line-height: 20px;
    }
    .nav-link:focus, .nav-link:hover {
      border: none;
    }

    .dropdown-item.active, .dropdown-item:active {
      color: black;
      background-color: white;
    }

    .nav-link, .nav-link:hover {
      color: black;
    }

    .dropdown-menu {
      font-size: 0.9rem;
      margin-top: 10px;
      margin-left: -6px;
    }
  }
}
