:root {
//  --bs-dark-rgb: 77,82,86;
  --changing-color: lightyellow;
}
//
//body {
//  font-family: "Roboto",Arial,sans-serif;
//  background: #fff;
//}
//
//.btn {
//  box-shadow: none !important;
//  outline: none !important;
//}
//
//.btn, button:focus, textarea:focus, .navbar-toggler:focus {
//  outline: none !important;
//}
//
//.btn-danger, .btn-danger:hover {
//  color: #fff;
//  background-color: #f67e7d;
//  border-color: #f67e7d;
//}
//
//.btn-secondary, .btn-secondary:hover {
//  color: #fff;
//  background-color: #6c757d;
//  border-color: #6c757d;
//}
//
//.btn-info, .btn-info:hover {
//  color: #fff;
//  background-color: #17a2b8;
//  border-color: #17a2b8;
//}
//
//.oi, .oi::before {
//  font-size: 12px;
//}
//
//nav.navbar {
//  gap: 0;
//}
//
//.navbar-brand {
//  padding-top: 0.2rem;
//  padding-bottom: 0.1rem;
//}
//
//.nav-link {
//  padding: 0.6rem 1rem 0.35rem;
//}
//
//.navbar-dark .navbar-nav .nav-link {
//  color: #fff;
//}

body {
  position: relative;
  /* For scrollyspy */
  /*font-family: 'Lato', sans-serif !important;*/
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  /*font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-size: 14px;
  background-color: #f1f2f6;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  /*font-family: 'Lato', sans-serif !important;*/
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
.form-control:focus {
  border-color: #3BAFDA;
}
.form-control, .form-control:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* ----------------------------------
 * icons
 * ---------------------------------- */

@font-face {
  font-family: "angularicons";
  src: url("../../../public/fonts/angularicons.eot");
  src: url("../../../public/fonts/angularicons.eot?#iefix") format("embedded-opentype"), url("../../../public/fonts/angularicons.woff") format("woff"), url("../../../public/fonts/angularicons.ttf") format("truetype"), url("../../../public/fonts/angularicons.svg") format("svg");
}
.icon {
  display: inline-block;
  font-family: "angularicons", serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon[data-icon]:before {
  content: attr(data-icon);
  speak: none;
}
.oi, .oi::before {
  font-size: 12px;
}

/* ----------------------------------
 * navbar
 * ---------------------------------- */

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: #303641
}
.navbar-custom {
  border: none;
  border-radius: 0;
  background-color: #303641;
  width: 100%;
  font-size: 13px;
  margin-bottom: 10px
}
.navbar-custom .navbar-nav {
  margin-left: 0;
  margin-right: 0;
}
.navbar-custom .nav li a {
  display: block;
  color: #aaabae;
  font-size: 13px
}
.dropdown-menu .active a, .dropdown-menu .active a:focus, .dropdown-menu .active a:hover, .dropdown-menu li a:focus, .dropdown-menu li a:hover {
  background-color: #2B303A;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:hover {
  color: #fff;
  background-color: #2B303A;
}
.navbar-custom .nav li a:active, .navbar-custom .nav li a.current {
  border-bottom: 0 solid #303641;
}
.navbar-custom .navbar-toggle {
  position: relative;
  background-color: #2B303A;
  border-color: #2B303A;
}
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
  background-color: #2B303A;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: rgba(255, 255, 255, .9);
}
.navbar-custom .navbar-brand {
  color: #FFF;
  padding-left: 25px;
  opacity: .7;
  filter: alpha(opacity=70);
  transition: opacity .4s ease-in-out;
}
.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:active {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-default .navbar-collapse {
  border-color: #e7e7e7;
}
@media (max-width: 992px) {
  .navbar-custom .navbar-brand {
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .navbar-custom {
    position: relative;
    top: 0;
  }
  .navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 15px;
  }
  .navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #303641;
  }
}

/* ----------------------------------
 * container
 * ---------------------------------- */

.container-fluid {
  max-width: 1400px;
  padding-left: 5px;
  padding-right: 5px;
}

.main-container {
  overflow: hidden;
  min-height: calc(100vh - 60px);
}

/* ----------------------------------
 * content-row
 * ---------------------------------- */

.content-row {
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px
}
.content-row .row {
  margin-bottom: 20px
}
.content-row .content-row-title {
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: 700;
  font-size: 18px;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 1);
}
.content-row .content-row-title span {
  font-weight: normal;
  font-size: 14px;
  color: #ED5565;
}
.content-row-dropdown h2 + .dropdown-menu, .content-row-popover .popover, .content-row-modal .modal {
  position: static;
  display: block;
}
.content-row-dropdown h2 + .dropdown-menu {
  float: none;
  width: 200px;
}
.content-row-popover .popover {
  position: relative;
}
@media (max-width: 960px) {
  .tooltip-demo[class*="col-"] {
    text-align: center;
  }
  .tooltip-demo[class*="col-"] .btn-block {
    display: inline-block;
    margin: 0 auto;
    width: 160px;
  }
}
.content-row-popover[class*="col-"]:nth-of-type(1) .popover {
  margin-top: 0;
}
.content-row-popover[class*="col-"]:nth-of-type(3) .popover, .content-row-popover[class*="col-"]:nth-of-type(4) .popover {
  margin-top: 40px;
}
.content-row-progress[class*="col-"]:last-child .progress {
  margin-bottom: 10px;
}
.content-row-pagination .pagination, .content-row-pagination .pager {
  margin: 0 !important;
}
.content-row-modal .modal {
  overflow: hidden;
}
@media (min-width: 768px) {
  .content-row-modal .modal-dialog {
    width: 545px;
    margin: 5px;
  }
}
.content-row-typography {
  position: relative;
  padding-left: 25%;
  margin-bottom: 40px;
}
.content-row-typography .heading-note, .content-row-typography .text-note {
  display: block;
  width: 260px;
  position: absolute;
  bottom: 2px;
  left: 0;
  font-size: 13px;
  line-height: 13px;
  color: #AAB2BD;
  font-weight: 400;
}
.content-row-typography .text-note {
  bottom: auto;
  top: 10px;
}
.content-row[class*="col-"] {
  margin-bottom: 10px;
}

/* ----------------------------------
 * btn-group & labels
 * ---------------------------------- */

.blank {
  display: none;
}
@media (max-width: 768px) {
  .blank {
    display: block;
    height: 15px;
  }
}
.list-group-item:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.list-group-item:first-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.list-group-item > .glyphicon-chevron-right {
  float: right
}
.list-group-item a, .list-group-item span {
  display: block;
  color: #434a54;
  padding: 10px 18px;
  text-decoration: none;
}
.list-group-item span {
  padding-left: 20px;
  padding-right: 0;
}
.list-group-item a:hover {
  background-color: #E6E9ED;
}
.list-group-item {
  padding: 0;
  margin-left: 1px;
}
.list-group-item.list-group-item-search {
  padding: 10px 15px;
}
.list-group-item.active {
  background-color: #59ABE3;
  border-color: #59ABE3;
}
.list-group-item.active a {
  background-color: transparent;
  color: #fff;
}

/* ----------------------------------
 * sidebar
 * ---------------------------------- */

.sidebar-offcanvas {
  padding-right: 5px
}
.sidebar-offcanvas i {
  margin-right: 8px
}
.toggle-sidebar {
  margin-right: 10px;
}
.toggle-sidebar span {
  font-size: 18px;
  height: 22px;
  line-height: 22px;
}
@media screen and (min-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }
  .row-offcanvas-right {
    right: 20%;
  }
  .row-offcanvas-left {
    left: 20%;
  }
  .row-offcanvas-right .sidebar-offcanvas {
    right: -20%;
    /* 3 columns */
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -20%;
    /* 3 columns */
  }
  .row-offcanvas-right.active {
    right: 0;
    /* 3 columns */
  }
  .row-offcanvas-left.active {
    left: 0;
    /* 3 columns */
  }
  .row-offcanvas-right.active .sidebar-offcanvas {
    /*background-color: rgb(254, 254, 254);*/
  }
  .row-offcanvas-left.active .sidebar-offcanvas {
    /*background-color: rgb(254, 254, 254);*/
  }
  .row-offcanvas .content {
    width: 80%;
    /* 9 columns */
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }
  .row-offcanvas.active .content {
    width: 100%;
    /* 12 columns */
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 20%;
    /* 3 columns */
  }
}
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }
  .row-offcanvas-right {
    right: 0;
  }
  .row-offcanvas-left {
    left: 0;
  }
  .row-offcanvas-right .sidebar-offcanvas {
    right: -50%;
    /* 6 columns */
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -50%;
    /* 6 columns */
  }
  .row-offcanvas-right.active {
    right: 50%;
    /* 6 columns */
  }
  .row-offcanvas-left.active {
    left: 50%;
    /* 6 columns */
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    /* 6 columns */
  }
}

/* ----------------------------------
 * dropdown-menu
 * ---------------------------------- */

.dropdown-menu {
  border: none;
  background-color: #434A54;
  padding: 8px 0;
}
.dropdown-menu .dropdown-header {
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 700;
  color: #AAB2BD;
}
.dropdown-menu li a {
  padding: 5px 20px;
  color: #FFF;
}
.dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu .active a, .dropdown-menu .active a:hover, .dropdown-menu .active a:focus {
  color: #FFF;
  background-color: #656D78;
  outline: none;
}
.dropdown-menu .disabled a, .dropdown-menu .disabled a:hover, .dropdown-menu .disabled a:focus {
  color: #656D78;
  cursor: default;
}
.dropdown-menu .divider {
  background-color: #656D78;
  border-bottom: none;
}
.dropup .dropdown-menu {
  margin-bottom: 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
