
.panel-heading {
  .panel-title {
    font-size: 15.5px;

    i.glyphicon {
      margin-right: 8px;
    }
  }

  .btn {
    float: right;
    margin-left: 10px;
    margin-top: -3px;
    width: 24px;
    height: 24px;
    padding: 0;
  }

  .root-title {
    float: right;
  }
}
