
.panel-heading {
  display: flex;
  flex-wrap: wrap;
  padding: 7px 15px;
  justify-content: flex-end;
  row-gap: 6px;
  font-size: 15.5px;

  i.glyphicon {
    margin-right: 8px;
  }

  .panel-title {
    height: 24px;
    line-height: 26px;
    margin-right: auto;
    padding-right: 10px;
  }

  .btn {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    padding: 0;
  }

  .panel-task-root {
    display: flex;

    .root-title {
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 300px;
      height: 24px;
      line-height: 26px;
      padding-right: 2px;

      @media (max-width: 768px) {
        max-width: 200px;
      }

      @media (max-width: 500px) {
        max-width: 100px;
      }
    }
  }
}
