
.task {
  .task-description-editor {
    margin-top: 15px;
    overflow: hidden;
  }

  .task-description-editor .mde-preview {
    background: #f3f3f3;
  }

  .task-description-editor.changing .mde-text {
    background: var(--changing-color);
  }
}