.table td {
    padding: .3rem .6rem;
    line-height: 38px;
}

.h1, h1 {
    font-size: 1.7rem;
}

.task-status-badge {
    width: 37px;
}

.table .task.task-status-progress .task-status-badge {
    background: #FFA900;
}

.table .task.task-status-pending .task-status-badge {
    background: #87AFFA;
}

.table .task.task-status-frozen .task-status-badge {
    background: #0099CC;
}

.table .task.task-status-completed .task-status-badge {
    background: #8FBC8F;
}

.table .task.task-status-potential .task-status-badge {
    background: #cc66ff;
}

.table .task.task-status-cancelled .task-status-badge {
    background: #778899;
}

.table .task.task-reminder .task-status-badge {
    background: #FF6347;
}

.dropdown-menu.pull-left {
     right: 0;
     left: auto;
     padding-left: 1px;
     padding-right: 1px;
 }