
.history-action-list {
  .column {
    padding-left: 12px;
    padding-right: 12px;
  }

  .column-content {
    width: inherit;
  }

  .time-column {
    width: 120px;
  }

  .task-column {
    width: 240px;

    .column-content {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  @media screen and (max-width: 992px) {
    .time-column {
      width: 90px;
    }

    .task-column {
      width: 120px;
    }
  }
}
