
.history-action-list {
  border: none;
  margin-top: -10px;

  thead tr {
    border-top: 1px solid #ddd;
  }

  .table-spacer {
    height: 20px;

    td {
      border: none;

      .column-content {
        text-align: center;
        font-weight: 600;
        padding-top: 10px;
        padding-bottom: 5px;
        padding-right: 100px;
      }
    }
  }

  .column {
    padding-left: 12px;
    padding-right: 12px;
  }

  .column-content {
    width: inherit;
  }

  .time-column {
    width: 36px;

    .column-content {
      text-align: center;
    }
  }

  .task-column {
    width: 280px;

    .column-content {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  @media screen and (max-width: 1200px) {
    .task-column {
      width: 200px;
    }
    .table-spacer td .column-content {
      padding-right: 70px;
    }
  }

  @media screen and (max-width: 992px) {
    .task-column {
      width: 120px;
    }
    .table-spacer td .column-content {
      padding-right: 40px;
    }
  }
}
