
.panel-heading {
  .panel-heading-task {
    display: flex;

    .panel-heading-task-title {
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 360px;
      height: 24px;
      line-height: 26px;
      padding-right: 2px;

      @media (max-width: 1000px) {
        max-width: 300px;
      }

      @media (max-width: 768px) {
        max-width: 200px;
      }

      @media (max-width: 500px) {
        max-width: 100px;
      }
    }
  }
}
