.task {
  .field.reminder {
    height: auto;
    flex-wrap: wrap;
    row-gap: 3px;

    input {
      margin-right: 15px;
    }

    button {
      margin-left: 10px;
      border: none;
      background: none;
      outline: none;
      box-shadow: 0 0 0 1px rgb(0 0 0 / 15%);
      border-radius: 3px;
      font-size: 13px;
      margin-bottom: 4px;
      margin-top: 2px;
      padding: 1px 5px 0;
    }

    button:hover {
      background-color: #eee;
    }
  }
}