//.task {
//  .field.reminder {
//    button:first-of-type {
//      margin-left: 15px;
//    }
//
//    button {
//      margin-left: 5px;
//      border: none;
//      background: none;
//      outline: none;
//    }
//
//    button:hover {
//      text-decoration: underline;
//    }
//  }
//}