.main-nav {
  margin-bottom: 1rem;
}

.nav-tabs {
  border: none;

  .nav-item {
    border: 1px solid #dee2e6;
    border-radius: 4px;
    margin-right: 8px;
    margin-bottom: 0;
  }

  .nav-item:nth-child(1) {
    background: antiquewhite !important;
  }

  .nav-item.show .nav-link, .nav-link.active {
    background: transparent;
    color: black;
  }

  .nav-item:nth-child(2) {
    background: lightblue
  }

  .nav-item:nth-child(3) {
    background: lightpink
  }

  .nav-link:focus, .nav-link {
    border: none;
    padding: 6px 10px;
    line-height: 20px;
  }
  .nav-link:focus, .nav-link:hover {
    border: none;
  }

  .dropdown-item.active, .dropdown-item:active {
    color: black;
    background-color: white;
  }

  .nav-link, .nav-link:hover {
    color: black;
  }

  .dropdown-menu {
    font-size: 0.9rem;
    margin-top: 10px;
    margin-left: -6px;
  }
}

