
.history-action-list {
  .action-list-spacer {
    height: 20px;

    td {
      border-left: none;
      border-right: none;

      .column-content {
        text-align: center;
        font-weight: 600;
        padding-top: 10px;
        padding-bottom: 5px;
        padding-right: 90px;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    .action-list-spacer td .column-content {
      padding-right: 60px;
    }
  }

  @media screen and (max-width: 992px) {
    .action-list-spacer td .column-content {
      padding-right: 40px;
    }
  }
}

.history-action-list.hidden-task-column .action-list-spacer .column-content {
  padding-right: 40px;
}

