
.badge-warning {
  border-color: #F4D03F;
  background-color: #F4D03F;
  padding: 3px 6px 3px 5px;
  margin-top: 1px;
  float: right;
  color: #615858;
  border-radius: 6px;
}
.sidebar-offcanvas {
  padding-right: 5px
}
.sidebar-offcanvas i {
  margin-right: 8px
}
.toggle-sidebar {
  margin-right: 10px;
}
.toggle-sidebar span {
  font-size: 18px;
  height: 22px;
  line-height: 22px;
}
@media screen and (min-width: 768px) {
  .toggle-sidebar {
    display: none;
  }
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }
  .row-offcanvas-right {
    right: 20%;
  }
  .row-offcanvas-left {
    left: 20%;
  }
  .row-offcanvas-right .sidebar-offcanvas {
    right: -20%;
    /* 3 columns */
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -20%;
    /* 3 columns */
  }
  .row-offcanvas-right.active {
    right: 0;
    /* 3 columns */
  }
  .row-offcanvas-left.active {
    left: 0;
    /* 3 columns */
  }
  .row-offcanvas-right.active .sidebar-offcanvas {
    /*background-color: rgb(254, 254, 254);*/
  }
  .row-offcanvas-left.active .sidebar-offcanvas {
    /*background-color: rgb(254, 254, 254);*/
  }
  .row-offcanvas .content {
    width: 80%;
    /* 9 columns */
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }
  .row-offcanvas.active .content {
    width: 100%;
    /* 12 columns */
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 20%;
    /* 3 columns */
  }
}
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }
  .row-offcanvas-right {
    right: 0;
  }
  .row-offcanvas-left {
    left: 0;
  }
  .row-offcanvas-right .sidebar-offcanvas {
    right: -50%;
    /* 6 columns */
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -50%;
    /* 6 columns */
  }
  .row-offcanvas-right.active {
    right: 50%;
    /* 6 columns */
  }
  .row-offcanvas-left.active {
    left: 50%;
    /* 6 columns */
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    /* 6 columns */
  }
}
