.task {
  .task-header {
    display: flex;
    height: 42px;

    .title {
      padding: 3px 0;
      margin: 10px .25rem 10px 0;
      background: none;
      width: 100%;
      border: none;
      outline: none;
    }

    .title:focus, .title.changing {
      box-shadow: rgb(0 0 0 / 20%) 0 0 0 1px;
      background: ghostwhite;
    }

    .title.changing {
      background: var(--changing-color);
    }

    .title-link {
      color: #000;
      width: 20px;
      margin: 1px 6px 0 4px;
      line-height: 42px;
      font-size: 16px;
    }

    .title-button {
      border: none;
      background: none;
      outline: none;
      padding: 0 3px;
      font-size: 13px;
      height: 24px;
      margin-top: 10px;
    }

    .task-children-page-button {
      margin-left: 2px;
      margin-top: 12px;
    }
  }
}
