.task {
  .task-header {
    display: flex;
    height: 42px;
    min-height: 40px;

    .title {
      padding: 4px 0 2px;
      margin: 10px 0;
      background: none;
      width: 100%;
      border: none;
      outline: none;
    }

    .title:focus, .title.changing {
      box-shadow: rgb(0 0 0 / 20%) 0 0 0 1px;
      background: #fff;
    }

    .title.changing {
      background: var(--changing-color);
    }

    .title-link, .title-button {
      color: #000;
      line-height: 24px;
      margin-top: 10px;
      margin-left: 8px;
      padding: 0 2px;
    }

    .title-github-link {
      display: block;
      line-height: 24px;
      margin-top: 10px;
      margin-right: 4px;
      height: 24px;
    }

    .title-button:first-child {
      margin-left: 0;
      margin-right: 6px;
    }

    .title-link {
      width: 20px;
      height: 24px;
      display: block;
    }

    .title-button {
      border: none;
      background: none;
      outline: none;
      font-size: 13px;
      height: 24px;
    }
  }
}
